extends template
block content
    div
        p Hello, #{userName}!
        | You really want to delete this data:
        br
        | name: #{Name},
        br
        | age: #{Age},
        br
        | email: #{Email}
        br
        | password: #{Password}
        br
        | photo: #{Photo}?
