extends template
block content
    div.create_message
        p User #{userName}, #{userEmail}!
        | recently update product
        br
        | name: #{Name},
        br
        | price: #{Price},
        br
        | power: #{Power}
        br
        | year: #{Year}
